/************************************************************************************/
/* Global                                                                           */
/************************************************************************************/

body 
{
  width           : 100%;
  height          : 100%;
  color           : #000000;
  background-color: #FFFFFF;
  border-width    : 0; 
  margin          : 0; 
  padding         : 0; 
  overflow        : hidden;
}

a 
{
   text-decoration: none;
}         

a:hover
{
  text-decoration: underline;
}

img
{
  border: 0;
}
      
table 
{        
  padding        : 0;
  border         : 0;
  margin         : 0;
  border-spacing : 0;
}

.u 
{
  text-decoration: underline;
}

.nowrap 
{
  white-space: nowrap;
}      

/************************************************************************************/
/* Header                                                                           */
/************************************************************************************/

div.header
{
  height          : 50px;
  background-color: #E9E9E9; /* HeaderBackgroundColor */
  color           : #707070; /* HeaderTextColor */
  font-family     : 'Verdana','Arial'; /* HeaderFontFamily */
  font-size       : 14pt; /* HeaderFontSize */
  font-weight     : bold;
}

div.header a:link    {color: #0645AD} /* HeaderLinkColor */  
div.header a:visited {color: #0645AD} /* HeaderVisitedLinkColor */  
div.header a:hover   {color: #0645AD} /* HeaderLinkActiveColor */  
div.header a:active  {color: #0645AD} /* HeaderLinkActiveColor */  

div.header table
{
  width: 100%;
}

div.header td.title
{
  height        : 50px;
  padding-left  : 1em;
  vertical-align: middle;
}

div.header td.home
{
  height        : 50px;
  padding-right : 1em;
  vertical-align: middle;
  text-align    : right;
  font-size     : .75em;
}
      
/************************************************************************************/
/* Contents                                                                         */
/************************************************************************************/

div.contents
{
  width      : 100%; 
  overflow   : auto;
  position   : fixed; 
  top        : 2em;
  bottom     : 0;
  margin     : 0;
}

/************************************************************************************/
/* Tabs                                                                             */
/************************************************************************************/

div.tabs
{
  color        : #000000; /* TopicTextColor */
  font-family  : 'Verdana','Arial'; /* TopicFontFamily */
  font-size    : 8pt; /* TopicFontSize */ 
}

div.tabs a:link    {color: #0645AD} /* TopicLinkColor */  
div.tabs a:visited {color: #0B0080} /* TopicVisitedLinkColor */  
div.tabs a:hover   {color: #0645AD} /* TopicLinkActiveColor */  
div.tabs a:active  {color: #0645AD} /* TopicLinkActiveColor */  

div.tabs table 
{
  width: 100%;
}

div.tabs  td {white-space: nowrap;}

div.tabs td.active
{
  height             : 2em; 
  border-style       : solid;
  border-color       : #888888;
  border-top-width   : 1px;
  border-left-width  : 0;
  border-right-width : 1px;
  border-bottom-width: 0;
  margin             : 0;
  padding            : 0;
  padding-left       : 1em;
  padding-right      : 1em;
  text-align         : center;  
  vertical-align     : middle;
}
      
div.tabs td.inactive
{        
  height             : 2em; 
  background-color   : #dddddd;
  border-style       : solid;
  border-color       : #888888;
  border-top-width   : 1px;
  border-left-width  : 0;
  border-right-width : 1px;
  border-bottom-width: 1px;
  margin             : 0;
  padding            : 0;
  text-align         : center;  
  vertical-align     : middle;
}
      
div.tabs td.none {
  width              : 100%;
  height             : 2em; 
  background-color   : #cccccc;
  border-style       : solid;
  border-color       : #888888;
  border-width       : 0;
  border-top-width   : 1px;
  border-bottom-width: 1px;
  margin             : 0;
  padding            : 0;
}

div.tabs a.inactive
{
  height          : 2em; 
  background-color: #dddddd;
  border-width    : 0;
  margin          : 0;
  padding-top     : .3em;
  padding-bottom  : .3em;
  padding-left    : 1em;
  padding-right   : 1em;  
  text-align      : center; 
}

/************************************************************************************/
/* Catalog                                                                          */
/************************************************************************************/

body.catalog
{
  background-color: #FFFFFF; /* CatalogBackgroundColor */
}

div.catalog
{
  margin-left     : 0.5em; 
  margin-top      : 1em;
  color           : #000000; /* CatalogTextColor */
  font-family     : 'Verdana','Arial'; /* CatalogFontFamily */
  font-size       : 8pt; /* CatalogFontSize */ 
}

div.catalog a:link    {color: #0645AD} /* CatalogLinkColor */  
div.catalog a:visited {color: #0B0080} /* CatalogVisitedLinkColor */  
div.catalog a:hover   {color: #0645AD} /* CatalogActiveLinkColor */  
div.catalog a:active  {color: #0645AD} /* CatalogActiveLinkColor */  

div.catalog th
{
  padding    : 0;
  text-align : left;
  white-space: nowrap;
  font-weight: normal;
}

div.catalog td
{
  padding    : 0;
  white-space: nowrap;
}

/************************************************************************************/
/* Divider                                                                          */
/************************************************************************************/

td.divider_top {
  width              : 100%;
  height             : 1.5em;
  background-color   : #cccccc;
  border-style       : solid;
  border-color       : #888888;
  border-top-width   : 1px;
  border-left-width  : 0;
  border-right-width : 1px;
  border-bottom-width: 0;
  margin             : 0;
  padding            : 0;
}

td.divider_bottom {
  width              : 100%;
  height             : 10000px;
  background-color   : #cccccc;
  border-style       : solid;
  border-color       : #888888;
  border-top-width   : 0;
  border-left-width  : 1px;
  border-right-width : 1px;
  border-bottom-width: 0;
  margin             : 0;
  padding            : 0;
}

/************************************************************************************/
/* Topic                                                                            */
/************************************************************************************/

body.topic
{
  background-color: #FFFFFF; /* TopicBackgroundColor */
}

div.topic
{
  margin-top   : 2em;
  margin-left  : 2em;
  margin-right : 0;
  margin-bottom: 2em;
  padding      : 0;
  color        : #000000; /* TopicTextColor */
  font-family  : 'Verdana','Arial'; /* TopicFontFamily */
  font-size    : 8pt; /* TopicFontSize */ 
}

div.topic h1 
{
  margin-top: 0;
  font-size: 13pt;
}
      
div.topic h2
{
  margin-top: 0;
  font-size: 10pt;
}

div.topic hr 
{
  height          : 1px;
  margin          : 0;
  margin-top      : 2em;
  margin-bottom   : .2em;
  border-width    : 0;
  background-color: #000000; /* TopicTextColor */
}

div.topic a:link    {color: #0645AD} /* TopicLinkColor */  
div.topic a:visited {color: #0B0080} /* TopicVisitedLinkColor */  
div.topic a:hover   {color: #0645AD} /* TopicActiveLinkColor */  
div.topic a:active  {color: #0645AD} /* TopicActiveLinkColor */  

div.topic div.start_page
{
  margin-top: 5em;
}

div.topic div.footer 
{
  border-style       : solid;
  border-color       : #000000; /* TopicTextColor */
  border-top-width   : 1px;
  border-left-width  : 0;
  border-right-width : 0;
  border-bottom-width: 0;
  margin-top         : 1em;
  padding-bottom     : 3em;
  font-family        : arial;
  font-size          : 8pt;
  font-style         : italic;    
}

/************************************************************************************/
/* Record                                                                            */
/************************************************************************************/

div.record tr 
{
  vertical-align: baseline;
}

div.record th 
{
  text-align   : left;
  padding-right: 1em;
}

div.record td 
{
  text-align   : left;
  padding-right: 1em;
}


/************************************************************************************/
/* Diagram                                                                          */
/************************************************************************************/

div.diagram
{
  color        : #000000; /* BoxTextColor */
  font-family  : 'Verdana','Arial'; /* BoxFontFamily */
  font-size    : 8pt; /* BoxFontSize */ 
}

div.diagram a:link    {color: #0645AD} /* BoxLinkColor */  
div.diagram a:visited {color: #0B0080} /* BoxVisitedLinkColor */  
div.diagram a:hover   {color: #0645AD} /* BoxActiveLinkColor */  
div.diagram a:active  {color: #0645AD} /* BoxActiveLinkColor */  

div.diagram td 
{
  border : 0;
  margin : 0;
  padding: 0;
}

div.diagram div.box
{
  background-color  : #FFFFFF; /* BoxBackgroundColor */
  border-style      : solid;
  border-color      : #000000; /* TopicTextColor */
  border-width      : 1px;
  -moz-box-shadow   : .4em .4em 1em rgba(0,0,0,0.3); /* Firefox 3.6*/
  -webkit-box-shadow: .4em .4em 1em rgba(0,0,0,0.3); /* Chrome 7, Safari 4, Safari 5 */
  box-shadow        : .4em .4em 1em rgba(0,0,0,0.3); /* CSS3, Opera 10 */
  margin            : 0;
  padding           : 0;
}

div.diagram div.no_box
{
  border-style: solid;
  border-color:  #FFFFFF; /* TopicBackgroundColor */
  border-width: 1px;
  margin      : 0;
  padding     : 0;
}

div.diagram div.box table
{
  width: 100%;
}

div.diagram div.box img
{
  border-style      : solid;
  border-color      : #000000; /* TopicTextColor */
  border-right-width: 1px;
}

div.diagram div.box td.iconmale {
  background-image : url('iconmale.png');
  background-size  : 1.5em 1.5em;
  background-repeat: no-repeat;
  column-width     : 1.5em;
  min-width        : 1.5em;
  height           : 1.5em;
}

div.diagram div.box td.iconfemale {
  background-image : url('iconfemale.png');
  background-size  : 1.5em 1.5em;
  background-repeat: no-repeat;
  column-width     : 1.5em;
  min-width        : 1.5em;
  height           : 1.5em;
}

div.diagram div.box td.label
{
  text-align    : center;
  white-space   : nowrap;
  vertical-align: top;
  border        : 0;
  margin        : 0;
  padding-top   : 0.25em;
  padding-left  : 0.5em;
  padding-right : 0.5em;
  padding-bottom: 0.25em;
  width         : 100%;
}

div.diagram td.L0
{
  border-style       : solid;
  border-color       : #000000; /* TopicTextColor */
  border-width       : 0;
  border-top-width   : 0;
  border-left-width  : 0;
  border-right-width : 0;
  border-bottom-width: 1px;  
  padding-left       : 0.7em;
}

div.diagram td.L1
{
  border-style       : solid;
  border-color       : #000000; /* TopicTextColor */
  border-top-width   : 1px;  
  border-left-width  : 0;
  border-right-width : 0;
  border-bottom-width: 0;
  padding-left       : 0.7em;
}

div.diagram td.L2
{
  border-style       : solid;
  border-color       : #000000; /* TopicTextColor */
  border-top-width   : 1px;  
  border-left-width  : 1px;  
  border-right-width : 0;
  border-bottom-width: 0;
  padding-left       : 0.7em;
}

div.diagram td.L3
{
  border-style       : solid;
  border-color       : #000000; /* TopicTextColor */
  border-top-width   : 0;  
  border-left-width  : 1px;  
  border-right-width : 0;  
  border-bottom-width: 1px;  
  padding-left       : 0.7em;
}
